<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sisindri Singamsetti</title>
    <link rel="stylesheet" href="/Style.css" />
  </head>
  <body>
    <header>
      <a href="/sisi">Sisindri Singamsetti</a>
    </header>
    <nav>
      <a href="/login">Login</a>
    </nav>
    <main>
      <form action="/register" method="POST">
        <fieldset>
          <legend>Login into Account</legend>
          <label for="username"><small>UserName</small></label>
          <input type="text" id="username" name="username" autocomplete="off" />
          <label for="Password"><small>Password</small></label>
          <input
            type="password"
            id="Password"
            name="Password"
            autocomplete="off"
          />
          <br />
          <br />
          <button>Register</button>
        </fieldset>
      </form>
    </main>
    <footer>&copy; 2021 Sisindri Singamsetti</footer>
  </body>
</html>
